<div class="row justify-content-md-center mt-5">
  <div class="card text-white bg-dark mb-3" style="max-width: 1080px">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="/assets/logo_meeapoia.png" class="card-img" alt="logo" />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title">MeeApoia</h1>
          <p class="body">
            O MeeApoia é uma vaquinha virtual com o intuito de angariar fundos
            para projetos, ongs e iniciativas privadas. Existem diversos fatores
            que colaboram para o insucesso de uma iniciativa coletiva. Os
            principais fatores são a falta de capital e de divulgação. Assim,
            essa plataforma tem o objetivo de levar ao conhecimento do público
            sobre essas iniciativas e auxiliar na arrecadação de capital,
            auxiliando a sua concretização.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
