/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { color: #171717; background-color: #dedede; margin: 0; font-family: "Roboto", sans-serif;}


